.App{
  text-align: center;
}

.App button{
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  height: 2rem;
}

.modal-content{
  text-align: center;
}

form{
  text-align: center;
}

h2,h3,button{
  text-align: center;
}

input{
  height: 2rem;
  margin: 0 2rem;
  display: block;
  width: 20rem;
}

.submit-button{
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  height: 2rem;
  margin-top: 1rem;
}